<div class="navbar">
    <mat-toolbar class="navbar" role="navigation" color="black">
        <button mat-button (click)="openMovies()">
            <img src="/assets/1 flix.png" alt="MyFlix Logo" height="170"> </button>

        <span class="example-spacer"></span>

        <button class="menus" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openMovies()">Home</button>
            <button mat-menu-item (click)="openProfile()">Profile</button>
            <button mat-menu-item (click)="logoutUser()">Logout</button>
        </mat-menu>
    </mat-toolbar>

</div>