// Import Angular Material styles
@use '@angular/material' as mat;

// Target the parent container of the mat-card elements (e.g., a div)
.movies-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    gap: 20px; /* Gap between grid items */
    padding: 20px; /* Add padding to the container */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background color */
}

.movies-grid mat-card {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background color for cards */
    padding: 20px; /* Add padding to the movie cards */
    border-radius: 10px; /* Add border-radius for rounded corners */
    color: white; /* Set text color to white */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.movies-grid mat-card:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Darker semi-transparent black background color on hover */
}

// Target the mat-card component
mat-card {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Box shadow for depth effect */
}

// Target the mat-dialog-content within mat-card
.button-container {
    display: flex;
    gap: 10px;
    max-width: 150px;
    margin-top: 10px;
}

// Target the mat-card-title within mat-dialog-content
mat-card-title {
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 10px; /* Add some spacing below the title */
}

// Target the mat-card-subtitle within mat-dialog-content
mat-card-subtitle {
    img {
        width: 350px;
        height: 500px; /* Ensure the image fills its container */
        object-fit: cover; /* Maintain aspect ratio and cover the container */
        border-radius: 10px; /* Add border-radius for rounded corners */
        justify-content: center;
    }
}

// Customize button styles
.mat-raised-button {
    color: white; /* Text color */
}

.custom-button {
    background-color: #5F0F40; /* Button background color */
    color: white;
    font-weight: 150px;
    font-size: 12px;
}

.mat-icon {
    transform: scale(1.5); /* Scale mat-icons */
}
.mat-icon-button {
    position: absolute;
    top: 10px;
    left: 10px;
}
// Adjust styles for smaller screens
@media screen and (max-width: 768px) {
    .movies-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust grid columns for smaller screens */
    }

    mat-dialog-content {
        max-width: 200px; /* Adjust max-width for smaller screens */
    }
}
